altgraph
attrs
blis
catalogue
certifi
cffi
chardet
cryptography
cymem
daal4py
fpdf
future
idna
importlib-metadata
Jinja2
joblib
jsonschema
langdetect
MarkupSafe
mkl-fft
mkl-random
mkl-service
murmurhash
nltk
numpy
pandas
pefile
plac
preshed
pycparser
PyInstaller
pyOpenSSL
pyrsistent
PySocks
python-dateutil
pytz
pywin32-ctypes
requests
scikit-learn
scipy
six
spacy==2.2.1
srsly
TBB
thinc
tika
tqdm
urllib3
wasabi
win-inet-pton
wincertstore
zipp
